<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JôSnow Receitas</title>
</head>
<body>
    <h1>Bem vindo!</h1>
    <h2>Receitas da casa</h2>

    <table>
        <thead>
            <tr>
                <td>Nome da receita</td>
                <td>Ingredientes</td>
                <td>Modo de Preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suco verde</td>
                <td>Folhas verdes, 1 maçã, 1 cenoura</td>
                <td>Adicione 250ml de água é bata tudo no liquidificador</td>
            </tr>
        </tbody>
    </table>
</body>
</html>